#Artist {
  background-color: $background;

  .nft-cards {
    background-color: $background---secondary;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    &__card {
      @include primary-transition();
      display: flex;
      flex-direction: column;
      background-color: $background;
      border-radius: 20px;
      width: 330px;
      > img {
        height: 296px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
      &__text {
        padding: 20px 30px 25px 30px;
        h5 {
          @include header-sans(22px, 140%);
          margin-bottom: 5px;
        }
        &__artist {
          display: flex;
          column-gap: 12px;
          align-items: center;
          margin-bottom: 25px;
          img {
            width: 24px;
            height: 24px;
            border-radius: 120px;
            display: inline-block;
          }
          span {
            @include text-space(16px, 140%);
          }
        }
        &__details {
          display: flex;
          justify-content: space-between;
          h5 {
            @include text-space(12px, 110%);
            margin-bottom: 8px;
            color: $caption-label-text;
          }
          p {
            @include text-space(16px, 140%);
          }
          &__bid {
            text-align: right;
          }
        }
      }
    }

    @media (max-width: $tablet-width) {
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
      &__card {
        > img {
          height: 295px;
        }
      }
    }
    @media (max-width: $mobile-width) {
      .container {
        grid-template-columns: 1fr;
      }
      &__card {
        width: 100%;
        > img {
          height: 238px;
        }
        &__text {
          padding: 20px 20px 25px 20px;
          &__details {
            p {
              @include text-space(12px, 110%);
            }
          }
        }
      }
    }
  }
}
