#Artist {
  background-color: $background;

  .cover {
    background: url(../../../client/media/images/artist-page.png) lightgray 50% /
      cover no-repeat;
    &__gradient {
      height: 320px;
      background: linear-gradient(
        180deg,
        rgba(151, 71, 255, 0) 21.88%,
        #9747ff 95.31%
      );
    }
    @media (max-width: $tablet-width) {
      &__gradient {
        height: 280px;
      }
    }
    @media (max-width: $mobile-width) {
      &__gradient {
        height: 250px;
      }
    }
  }

  .artist {
    padding-top: 90px;
    padding-bottom: 40px;
    .container {
      display: flex;
      column-gap: 100px;
    }
    &__left {
      position: relative;
      width: 599px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      h2 {
        @include header-sans(51px, 110%);
      }
      &__mobile-btns {
        display: none;
      }
      &__stats {
        display: flex;
        column-gap: 20px;
        div {
          width: 156.667px;
          h4 {
            @include header-space(28px, 140%);
          }
          p {
            @include text-space(22px, 160%);
          }
        }
      }
      &__bio {
        h5 {
          @include header-space(22px, 160%);
          color: $caption-label-text;
          margin-bottom: 10px;
        }
        p {
          @include text-sans(22px, 160%);
        }
      }
      &__links {
        h5 {
          @include header-space(22px, 160%);
          color: $caption-label-text;
          margin-bottom: 10px;
        }
        div {
          display: flex;
          column-gap: 10px;
          img {
            @include primary-transition();
            width: 32px;
            height: 32px;
          }
        }
      }
      > img {
        position: absolute;
        left: 0;
        top: -160px;
        width: 120px;
        height: 120px;
        border-radius: 20px;
        border: 2px solid var(--Background, #2b2b2b);
      }
    }
    &__right {
      display: flex;
      column-gap: 20px;
      &__copy-btn {
        border: none;
        width: 186px;
        @include secondary-btn-colored();
        p {
          width: 113px;
        }
      }
      &__follow-btn {
        @include secondary-btn-transparent();
      }
      p {
        @include header-sans(16px, 140%);
      }
      .following {
        @include secondary-btn-colored();
      }
    }
    @media (max-width: $tablet-width) {
      padding-top: 80px;
      padding-bottom: 30px;

      &__left {
        width: 100%;
        h2 {
          @include header-sans(38px, 120%);
        }

        &__stats {
          div {
            width: 156.667px;
            h4 {
              @include header-space(22px, 160%);
            }
            p {
              @include text-space(16px, 140%);
            }
          }
        }
        &__bio {
          h5 {
            @include header-space(16px, 140%);
          }
          p {
            @include text-sans(16px, 140%);
          }
        }
        &__links {
          h5 {
            @include header-space(16px, 140%);
          }
          div {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        > img {
          top: -150px;
        }
      }
    }
    @media (max-width: $mobile-width) {
      &__left {
        h2 {
          @include header-sans(28px, 140%);
        }
        > .artist__right {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          a {
            width: 100%;
          }
        }
        &__stats {
          div {
            width: 91.6666px;
          }
        }
        > img {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .tabs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &__line {
      width: 100%;
      height: 1px;
      background-color: $background---secondary;
    }
    .container {
      display: flex;
      justify-content: space-between;
      > button {
        transition: all 0.3s ease;
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 60px;
        width: 350px;
        display: flex;
        column-gap: 16px;
        align-items: center;
        padding: 0px 30px;
        justify-content: center;
        h5 {
          @include header-sans(22px, 140%);
          color: $caption-label-text;
        }
        div {
          display: flex;
          padding: 5px 10px;
          align-items: center;
          border-radius: 20px;
          background: $background---secondary;
          @include text-space(16px, 140%);
        }
      }
    }
    @media (max-width: $tablet-width) {
      .container {
        > button {
          width: 100%;
          h5 {
            @include header-sans(16px, 140%);
          }
          div {
            @include text-space(12px, 110%);
          }
        }
      }
    }
    @media (max-width: $mobile-width) {
      .container {
        > button {
          padding: 0px 10px;
          width: 100%;
          div {
            display: none;
          }
        }
      }
    }
  }
  .nft-cards {
    background-color: $background---secondary;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    &__card {
      @include primary-transition();
      display: flex;
      flex-direction: column;
      background-color: $background;
      border-radius: 20px;
      width: 330px;
      > img {
        height: 296px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
      &__text {
        padding: 20px 30px 25px 30px;
        h5 {
          @include header-sans(22px, 140%);
          margin-bottom: 5px;
        }
        &__artist {
          display: flex;
          column-gap: 12px;
          align-items: center;
          margin-bottom: 25px;
          img {
            width: 24px;
            height: 24px;
            border-radius: 120px;
            display: inline-block;
          }
          span {
            @include text-space(16px, 140%);
          }
        }
        &__details {
          display: flex;
          justify-content: space-between;
          h5 {
            @include text-space(12px, 110%);
            margin-bottom: 8px;
            color: $caption-label-text;
          }
          p {
            @include text-space(16px, 140%);
          }
          &__bid {
            text-align: right;
          }
        }
      }
    }
    &__empty {
      display: none;
      h2 {
        text-align: center;
        @include text-space(30px, 120%);
        color: $caption-label-text;
      }
    }

    @media (max-width: $tablet-width) {
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
      &__card {
        > img {
          height: 295px;
        }
      }
    }
    @media (max-width: $mobile-width) {
      .container {
        grid-template-columns: 1fr;
      }
      &__card {
        width: 100%;
        > img {
          height: 238px;
        }
        &__text {
          padding: 20px 20px 25px 20px;
          &__details {
            p {
              @include text-space(12px, 110%);
            }
          }
        }
      }
    }
  }

  .clicked-on {
    border-bottom: 2px solid $caption-label-text !important;
    h5 {
      color: $text !important;
    }
    div {
      background: $caption-label-text !important;
    }
  }

  .footer {
    border-top: 2px solid $background !important;
  }
}
