#Home {
  background-color: $background;
  .navbar {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      height: 32px;
      img:first-child {
        width: 32px;
      }
      img:last-child {
        width: 199.414px;
        height: 19.8px;
        margin: 8.6px 0px 3.6px 12px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__right {
      display: flex;
      column-gap: 10px;
      align-items: center;
      button {
        background-color: transparent;
        border: none;
        height: 46px;
        padding: 0px 20px;
        @include header-sans(16px, 140%);
        text-transform: none;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(0.9);
          cursor: pointer;
        }
      }
      a {
        @include secondary-btn-colored;
        padding: 0px 30px;
        p {
          @include header-sans(16px, 140%);
        }
      }
      > img {
        display: none;
      }
    }
    @media (max-width: $tablet-width) {
      padding: 15px 50px;
      &__left {
        height: 24px;
        img:first-child {
          width: 24px;
        }
        img:last-child {
          width: 149.56px;
          height: 14.85px;
          margin: 6.15px 0px 2.7px 9px;
        }
      }
      &__right {
        button,
        a {
          display: none;
        }
        > img {
          display: inline-block;
          width: 24px;
          @include primary-transition();
        }
      }
    }

    @media (max-width: $mobile-width) {
      padding: 15px 50px;
    }
  }

  .container {
    width: 1050px;
    margin: 0 auto;
    @media (max-width: $tablet-width) {
      width: 690px;
    }
    @media (max-width: $mobile-width) {
      width: 315px;
    }
  }

  .hero .container {
    display: flex;
    column-gap: 30px;
    @media (max-width: $mobile-width) {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;

    &__left {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      &__top {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        h1 {
          @include header-sans(67px, 110%);
        }
        p {
          @include text-sans(22px, 160%);
        }
      }
      > .hero__right {
        display: none;
      }
      &__middle {
        width: 224px;
        @include secondary-btn-colored;
        img {
          width: 20px;
        }
        p {
          @include header-sans(16px, 140%);
        }
      }
      &__bottom {
        display: flex;
        column-gap: 30px;
        div {
          width: 150px;
          h2 {
            @include header-space(28px, 140%);
          }
          @include text-sans(23.99px, 160%);
        }
      }
    }
    &__right {
      img {
        width: 510px;
      }
    }
    @media (max-width: $tablet-width) {
      &__left {
        row-gap: 20px;
        &__top {
          h1 {
            @include header-sans(38px, 120%);
          }
          p {
            @include text-sans(16px, 140%);
          }
        }
        &__bottom {
          div {
            width: 90px;
            h2 {
              @include header-space(22px, 160%);
            }
            @include text-sans(16px, 140%);
          }
        }
      }
      &__right {
        img {
          width: 330px;
        }
      }
    }

    @media (max-width: $mobile-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      &__left {
        row-gap: 40px;
        &__top {
          row-gap: 10px;
          h1 {
            @include header-sans(28px, 140%);
          }
          p {
            @include text-sans(16px, 140%);
          }
        }
        > .hero__right {
          display: inline-block;
          img {
            width: 315px;
          }
        }
        &__middle {
          width: 315px;
        }
        &__bottom {
          div {
            width: 85px;
            h2 {
              @include header-space(22px, 160%);
            }
            @include text-sans(16px, 140%);
          }
        }
      }
      &__right {
        display: none;
      }
    }
  }

  .trending {
    padding-top: 80px;
    padding-bottom: 80px;
    &__header {
      margin-bottom: 60px;
      h3 {
        @include header-sans(38px, 120%);
        margin-bottom: 10px;
      }
      p {
        @include text-sans(22px, 160%);
      }
    }
    &__collection {
      display: flex;
      column-gap: 30px;
      &__card {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        &__primary {
          height: 330px;
          width: 330px;
          border-radius: 20px;
          background: url(../../media/images/dog.png),
            lightgray 50% / cover no-repeat;
          background-size: cover;
          @include primary-transition();
        }
        &__secondary {
          display: flex;
          column-gap: 15px;
          div:first-child {
            height: 100px;
            width: 100px;
            flex: 1 0 0;
            border-radius: 20px;
            background: url(../../media/images/cat.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
            @include primary-transition();
          }
          div:nth-child(2) {
            height: 100px;
            width: 100px;
            flex: 1 0 0;
            border-radius: 20px;
            background: url(../../media/images/bear.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
            @include primary-transition();
          }
          div:last-child {
            height: 100px;
            width: 100px;
            padding: 32px 15px;
            border-radius: 20px;
            background: $call-to-action;
            @include header-space(22px, 160%);
            @include primary-transition();
          }
        }
        &__text {
          h5 {
            @include header-sans(22px, 140%);
            margin-bottom: 10px;
          }
          &__artist {
            display: flex;
            column-gap: 12px;
            cursor: pointer;
            &:hover {
              div {
                transform: scale(0.9);
              }
            }
            div {
              width: 24px;
              height: 24px;
              flex-shrink: 0;
              border-radius: 100px;
              background: url(../../media/images/avatars/mrFox.png),
                lightgray 50% / cover no-repeat;
              background-size: cover;
              transition: all 0.3s ease;
            }
            p {
              @include text-sans(16px, 140%);
            }
          }
        }
      }
      &__card:nth-child(2) {
        > .trending__collection__card__primary {
          background: url(../../media/images/mushroom-1.png),
            lightgray 50% / cover no-repeat;
          background-size: cover;
        }
        > .trending__collection__card__secondary {
          div:first-child {
            background: url(../../media/images/mushroom-2.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
          div:nth-child(2) {
            background: url(../../media/images/mushroom-3.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
        }
        > .trending__collection__card__text {
          > div > div {
            background: url(../../media/images/avatars/Shroomie.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
        }
      }
      &__card:last-child {
        > .trending__collection__card__primary {
          background: url(../../media/images/robot-1.png),
            lightgray 50% / cover no-repeat;
          background-size: cover;
        }
        > .trending__collection__card__secondary {
          div:first-child {
            background: url(../../media/images/robot-2.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
          div:nth-child(2) {
            background: url(../../media/images/robot-3.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
        }
        > .trending__collection__card__text {
          > div > div {
            background: url(../../media/images/avatars/BeKind2Robots.png),
              lightgray 50% / cover no-repeat;
            background-size: cover;
          }
        }
      }
    }
    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      &__header {
        margin-bottom: 40px;
        h3 {
          @include header-sans(28px, 140%);
        }
        p {
          @include text-sans(16px, 140%);
        }
      }
      &__collection {
        &__card:last-child {
          display: none;
        }
      }
    }
    @media (max-width: $mobile-width) {
      &__collection {
        &__card {
          &__primary {
            height: 315px;
            width: 315px;
          }
          &__secondary {
            div:first-child {
              height: 95px;
              width: 95px;
            }
            div:nth-child(2) {
              height: 95px;
              width: 95px;
            }
            div:last-child {
              height: 95px;
              width: 95px;
              @include header-space(16px, 140%);
            }
          }
        }
        &__card:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .top-artists {
    padding-top: 80px;
    padding-bottom: 80px;
    &__header {
      display: flex;
      column-gap: 100px;
      align-items: flex-end;
      &__text {
        width: 703px;
        h3 {
          @include header-sans(38px, 120%);
          margin-bottom: 10px;
        }
        p {
          @include text-sans(22px, 160%);
        }
      }
      a {
        @include secondary-btn-transparent();
        p {
          @include text-sans(16px, 140%);
        }
      }
    }
  }

  .categories {
    padding-top: 80px;
    padding-bottom: 80px;
    h3 {
      @include header-sans(38px, 120%);
      margin-bottom: 60px;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto auto;
      gap: 30px;
      &__card {
        @include primary-transition();
        width: 240px;
        display: flex;
        flex-direction: column;
        &__images {
          width: 240px;
          height: 240px;
          border-radius: 20px 20px 0px 0px;
          position: absolute;
          &__icon-container {
            width: 240px;
            height: 240px;
            position: relative;
            border-radius: 20px 20px 0px 0px;
            backdrop-filter: blur(15px) brightness(100%);
            background: rgba(255, 255, 255, 0.1);
            img {
              position: absolute;
              width: 100px;
              height: 100px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        &__text {
          padding: 20px 30px 25px 30px;
          background-color: $background---secondary;
          border-radius: 0px 0px 20px 20px;
          @include text-sans(22px, 140%);
        }
      }
    }
    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      h3 {
        @include header-sans(28px, 140%);
        margin-bottom: 40px;
      }
      &__cards {
        &__card {
          width: 150px;
          &__images {
            width: 150px;
            height: 142px;
            &__icon-container {
              width: 150px;
              height: 142px;
              img {
                width: 80px;
                height: 80px;
              }
            }
          }
          &__text {
            padding: 20px 20px 25px 20px;
            @include text-sans(16px, 140%);
          }
        }
      }
    }
    @media (max-width: $mobile-width) {
      &__cards {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto auto auto;
        gap: 20px;
        &__card {
          width: 148px;
          height: 209px;
          &__images {
            width: 148px;
            height: 142px;
            &__icon-container {
              width: 148px;
              height: 142px;
            }
          }
        }
        &__card:nth-child(7),
        &__card:last-child {
          height: 231px;
          .categories__cards__card__text {
            height: 89px;
          }
        }
        &__card:nth-child(7) {
          .categories__cards__card__text {
            padding-bottom: 47px;
          }
        }
      }
    }
  }

  .how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
    h3 {
      @include header-sans(38px, 120%);
      margin-bottom: 10px;
    }
    .container > p {
      @include text-sans(22px, 160%);
      margin-bottom: 48px;
    }
    &__info-cards {
      display: flex;
      column-gap: 30px;
      &__card {
        width: 330px;
        padding: 10px 30px 30px 30px;
        border-radius: 20px;
        background: $background---secondary;
        text-align: center;
        @include primary-transition();
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-bottom: 20px;
        }
        h5 {
          @include header-sans(22px, 140%);
          margin-bottom: 10px;
        }
        p {
          @include text-sans(16px, 140%);
        }
      }
    }

    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      h3 {
        @include header-sans(28px, 140%);
      }
      .container > p {
        @include text-sans(16px, 140%);
        margin-bottom: 40px;
      }
      &__info-cards {
        &__card {
          width: 210px;
          padding: 10px 20px 30px 20px;
          img {
            width: 160px;
          }
          h5 {
            @include header-sans(16px, 140%);
          }
          p {
            @include text-sans(12px, 140%);
          }
        }
      }
    }

    @media (max-width: $mobile-width) {
      &__info-cards {
        flex-direction: column;
        row-gap: 20px;
        &__card {
          width: 315px;
          padding: 20px;
          text-align: left;
          flex-direction: row;
          justify-content: space-between;
          column-gap: 20px;
          img {
            margin: 0;
            width: 100px;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $background---secondary;
    a {
      @include primary-transition();
    }
    &__top {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      display: flex;
      &__left {
        width: 327.414px;
        padding-right: 84px;
        &__header {
          margin-bottom: 30px;
          img:last-child {
            width: 199.414px;
            height: 19.8px;
            margin-bottom: 3.6px;
          }
        }

        p {
          @include text-sans(16px, 140%);
          color: #ccc;
        }
        p:nth-child(2) {
          margin-bottom: 20px;
        }
        p:nth-child(3) {
          margin-bottom: 15px;
        }
        &__icons {
          display: flex;
          column-gap: 10px;
        }
      }
      &__middle {
        width: 240px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        h5 {
          @include header-space(22px, 160%);
        }
        &__pages {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          a {
            @include text-sans(16px, 140%);
            color: #ccc;
            text-decoration: none;
          }
        }
      }
      &__right {
        width: 420px;
        h5 {
          @include header-space(22px, 160%);
          margin-bottom: 25px;
        }
        p {
          width: 330px;
          margin-bottom: 20px;
          @include text-sans(16px, 140%);
          color: #ccc;
        }
        &__form {
          width: 420px;
          height: 60px;
          border-radius: 20px;
          background: $text;

          form {
            width: 420px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          input {
            @include text-sans(16px, 140%);
            margin-left: 20px;
            border: 1px solid transparent;
            color: $background;
            &::placeholder {
              color: $background;
            }
            &:focus,
            &:active {
              outline: none;
            }
          }
          button {
            img {
              display: none;
            }
            @include secondary-btn-colored();
            border: 1px solid transparent;
            @include text-sans(16px, 140%);
            width: 179px;
            &:hover {
              transform: none;
              width: 160px;
            }
          }
        }
      }
    }
    &__bottom {
      &__divider {
        background: $caption-label-text;
        width: 1050px;
        height: 1px;
        margin-bottom: 20px;
      }
      p {
        @include text-sans(12px, 110%);
        color: #ccc;
      }
    }
    @media (max-width: $tablet-width) {
      &__top {
        margin: none;
        margin-bottom: 49px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        &__left {
          width: 100%;
          padding: none;
          &__header {
            margin-bottom: 20px;
          }
        }
        &__middle {
          row-gap: 20px;
        }
        &__right {
          width: 100%;
          h5 {
            margin-bottom: 20px;
          }
          p {
            width: 100%;
          }
        }
      }
      &__bottom {
        &__divider {
          width: 690px;
        }
      }
    }
    @media (max-width: $mobile-width) {
      &__top {
        margin-bottom: 30px;
        &__right {
          &__form {
            width: 100%;
            height: 108px;
            border-radius: 0px;
            background: none;

            form {
              width: 100%;
              height: 108px;
              flex-direction: column;
              row-gap: 16px;
            }
            input {
              width: 100%;
              height: 46px;
              padding: 16px 20px;
              margin: 0;
              border-radius: 20px;
              border: 1px solid $caption-label-text;
              background: $text;
            }
            button {
              img {
                display: inline;
              }
              width: 100%;
              @include secondary-btn-colored();
              height: 46px;

              &:hover {
                transform: none;
                width: 260px;
              }
            }
          }
        }
      }
      &__bottom {
        &__divider {
          width: 315px;
        }
      }
    }
  }
}
