#Home {
  background-color: var(--Background);
  .navbar {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      height: 32px;
      img:first-child {
        width: 32px;
      }
      img:last-child {
        width: 199.414px;
        height: 19.8px;
        margin: 8.6px 0px 3.6px 12px;
        // color: var(--White);
        // font-size: 21px;
        // font-family: Space Mono;
        // font-style: normal;
        // font-weight: 700;
        // line-height: 140%; /* 39.2px */
      }
    }
    &__right {
      display: flex;
      column-gap: 10px;
      align-items: center;
      button {
        background-color: transparent;
        border: none;
        display: flex;
        height: 46px;
        padding: 0px 20px;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }
      @include button(60px, 30px, 16px);
    }
  }
  .container {
    padding: 80px 115px;
  }
  .hero {
  }
}
