@mixin button($height, $padding, $font-size) {
  a {
    border: none;
    cursor: pointer;
    display: flex;
    height: $height;
    padding: 0px $padding;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action);
    p {
      color: #fff;
      font-size: $font-size;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }
    transition: 0.2s;
    &:hover {
      transform: scale(0.9);
    }
  }
}
